body{
	font-family: 'Champagne & Limousines';
	src: url('fonts/Champagne & Limousines');
	line-height: 1.5;
	background-color: #3d3d3d;
}

@font-face{
	font-family: 'Champagne & Limousines';
	src: url("fonts/eot/Champagne & Limousines.eot"); /*For IE*/
	src: url("fonts/ttf/Champagne & Limousines.ttf"); /*For most other browsers*/
}

.container{
	width: 70%; /*% so that the site is responsive*/
	margin: auto;
}

header{
	background: black;
	padding-top: 20px;
	min-height: 70px; /*for responsiveness*/
}

header a{
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
	text-transform: uppercase;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	display: inline;
	padding: 0 0px 0 40px;
}

header #logo{
	float: left;
}

header #logo li{
	padding: 0 0 0 0;
}

header nav{
	float: right;
	/*MAKE NAV BAR FIXED*/
}

/*
a:hover{
	text-decoration: underline;
}
a:active{
	text-decoration: underline;
}
*/
header .current a{
	color: #e8491d;
}

header a:hover{
	text-decoration: underline;
	/*underline only stays if I use seperate html files, not fixed background scrolling site, fix this*/
}

/*************************************************************************************************************/
#construction{
	color: #e8491d;
	text-align: center;
	font-size: 80px;
}

#construction ul li{
	color: #ffffff
}
/*************************************************************************************************************/

.text h1{
	font-size: 100px;
	margin-bottom: 0;
	line-height: 1;
}

.text p{
	font-size: 150%;
}

.text{
	color: #ffffff;
}

footer #copyright{
	color: #ffffff;
	text-align: center;
}