body{
	font-family: /*'Quicksand-Regular',*//*'Gotham-XLight',*/'Champagne & Limousines';
	line-height: 1.5;
	/*background-color: #3d3d3d;*/
	background-color: #ffffff;
}
/*FIX ALL THESE, MAKE COMPATIBLE WITH ALL BROWSERS INCLUDING MOBILE!!!*/
/*
@font-face{
	font-family: 'Quicksand-Regular';
	src: url('fonts/quicksand/Quicksand-Regular.otf');
}
*/
/*
@font-face{
	font-family: 'Gotham-XLight';
	src: url("fonts/Gotham/Gotham-XLight.eot") format('embedded-opentype'), 
	url("fonts/Gotham/Gotham-XLight.ttf") format('truetype'),
	url("fonts/Gotham/Gotham-XLight.svg.#svgGotham-XLight") format('svg'),
	url("fonts/Gotham/Gotham-XLight.woff2") format('woff2'),
   	url("fonts/Gotham/Gotham-XLight.woff") format('woff');
}
*/
@font-face{
	font-family: 'Champagne & Limousines';
	src: url("fonts/Champagne & Limousines.eot") format('embedded-opentype'), 
	url("fonts/Champagne & Limousines.ttf") format('truetype'),
	url("fonts/Champagne & Limousines.svg.#svgChampagne & Limousines") format('svg'),
	url("fonts/Champagne & Limousines.woff2") format('woff2'),
   	url("fonts/Champagne & Limousines.woff") format('woff');
}

@font-face{
	font-family: 'Champagne & Limousines';
	font-weight: bold;
	src: url("fonts/Champagne & Limousines Bold.eot") format('embedded-opentype'),
	url("fonts/Champagne & Limousines Bold.ttf") format('truetype'),
	url("fonts/Champagne & Limousines Bold.svg") format('svg'),
	url('Champagne & Limousines Bold.woff2') format('woff2'),
    url('Champagne & Limousines Bold.woff') format('woff');
}

.container{
	width: 70%; /*% so that the site is responsive*/
	margin: auto;
}

header{
	/*background: black;*/

	padding-top: 20px;
	min-height: 70px; /*for responsiveness*/
}

header a{
	/*color: #ffffff;*/
	color: #000000;
	text-decoration: none;
	font-size: 30px;
	text-transform: uppercase;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	display: inline;
	padding: 0 0px 0 40px;
}

header #logo{
	float: left;
}

header #logo li{
	padding: 0 0 0 0;
}

header nav{
	float: right;
	/*MAKE NAV BAR FIXED*/
}

/*
a:hover{
	text-decoration: underline;
}
a:active{
	text-decoration: underline;
}
*/
header .current a{
	color: #e8491d;
}

header a:hover{
	text-decoration: underline;
	/*underline only stays if I use seperate html files, not fixed background scrolling site, fix this*/
}

/*************************************************************************************************************/
#construction{
	color: #e8491d;
	text-align: center;
	font-size: 80px;
}

#construction ul li{
	color: #ffffff
}
/*************************************************************************************************************/

.text h1{
	color: #92d4e5;
	font-size: 100px;
	margin-bottom: 0;
	line-height: 1;
}

.text p{
	font-size: 150%;
}

.text{
	color: #000000;
}
/*************************************************************************************************************/
form{
	max-width: 100%;
	margin: 0 auto 100px;
}

input, textarea{
	border: 2px;
	border-color: #4e747c;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
}

input:focus,
textarea:focus{
	outline: none;
	border-color: #92d4e5;
	box-sizing: border-box;
}

input:hover,
textarea:hover{
	outline: none;
	border-color: #92d4e5;
	box-sizing: border-box;
}

.contactInfo label{
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.contactInfo label:nth-child(1){
	padding-right: 5px;
}

.contactInfo label:nth-child(2){
	padding-left: 5px;
}

textarea{
	height: 240px;
}

[type="submit"]{
	text-transform: uppercase;
	background: #75a6b2;
	color: white;
	font-size: 30px;
	cursor: pointer; 
	font-family: 'Champagne & Limousines';
	box-sizing: border-box;
	border: none;
}

[type="submit"]:hover{
	background: #92d4e5;
}

label{
	display: block;
	margin-bottom: 20px;
}

span{
	display: block;
}
/*************************************************************************************************************/
footer #copyright{
	color: #ffffff;
	text-align: center;
}